@use '../../styles/utilities.module.scss' as utilities;
@use '../../styles/dark.theme.module.scss' as theme;

$to-font-size: 5vmin;

.header {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    a {
        width: fit-content;
    }

    .profile {
        display: flex;
        flex-direction: column;

        &.loading {
            visibility: hidden;
        }

        .name {
            font-size: $to-font-size;
            color: theme.$name;
            border-bottom-color: transparent;
        }

        .title {
            font-size: $to-font-size;
            color: theme.$link;
            white-space: nowrap;
            border-bottom-color: transparent;
        }
    }

    .nowrap {
        white-space: nowrap;
    }

    nav {
        flex: 1;
        height: 100%;
        display: flex;
        justify-content: flex-end;

        ol {
            list-style-type: none;
            padding-left: 0;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            li {
                // NOTE: Not sure about this one...
                text-align: right;

                a {
                    color: theme.$link;
                }
            }
        }
    }

    .line {
        display: flex;
        flex-wrap: wrap;
    }
}

.loading-overlay {
    user-select: none;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    height: 100%;
    width: 100vw;
    padding: 0in .5in;
    transition: background-color 490ms ease-in-out;
    z-index: 10;

    &.background-color {
        background-color: utilities.$background;
    }

    @keyframes blink {

        from,
        to {
            color: transparent;
        }

        50% {
            color: inherit;
        }
    }

    .hidden {
        visibility: hidden;
    }

    .ctr {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .line-wrapper {
        line-height: normal;
    }

    .name,
    .title {
        line-height: unset;
        transition: font-size 300ms ease-in-out;
    }

    .name {
        color: #fff;
        font-size: 12vmin;
    }

    .title {
        font-size: 12vmin;
        color: theme.$title;
    }
}